<a href="https://colab.research.google.com/github/Dk5058203/TableauViratKohli/blob/main/DataProcessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("/content/ipl_match_info_data.csv")
df

,match_id,season,date,city,venue,team1,team2,toss_winner,toss_decision,player_of_match,...,event,match_number,umpire1,umpire2,reserve_umpire,tv_umpire,match_referee,eliminator,method,date_1
0,335982,2007/08,2008-04-18,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,BB McCullum,...,Indian Premier League,1.0,Asad Rauf,RE Koertzen,VN Kulkarni,AM Saheba,J Srinath,NaN,NaN,NaN
1,335983,2007/08,2008-04-19,Chandigarh,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,MEK Hussey,...,Indian Premier League,2.0,MR Benson,SL Shastri,MSS Ranawat,RB Tiffin,S Venkataraghavan,NaN,NaN,NaN
2,335984,2007/08,2008-04-19,Delhi,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,MF Maharoof,...,Indian Premier League,3.0,Aleem Dar,GA Pratapkumar,NaN,IL Howell,GR Viswanath,NaN,NaN,NaN
3,335985,2007/08,2008-04-20,Mumbai,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,MV Boucher,...,Indian Premier League,5.0,SJ Davis,DJ Harper,SN Bandekar,AV Jayaprakash,J Srinath,NaN,NaN,NaN
4,335986,2007/08,2008-04-20,Kolkata,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,DJ Hussey,...,Indian Premier League,4.0,BF Bowden,K Hariharan,F Gomes,Asad Rauf,FM Engineer,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,1304116,2022,2022-05-22,Mumbai,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,Punjab Kings,Sunrisers Hyderabad,bat,Harpreet Brar,...,Indian Premier League,70.0,AK Chaudhary,NA Patwardhan,Navdeep Singh,CB Gaffaney,J Srinath,NaN,NaN,NaN
946,1312197,2022,2022-05-24,Kolkata,"Eden Gardens, Kolkata",Rajasthan Royals,Gujarat Titans,Gujarat Titans,field,DA Miller,...,Indian Premier League,NaN,BNJ Oxenford,VK Sharma,J Madanagopal,MA Gough,M Nayyar,NaN,NaN,NaN
947,1312198,2022,2022-05-25,Kolkata,"Eden Gardens, Kolkata",Royal Challengers Bangalore,Lucknow Super Giants,Lucknow Super Giants,field,RM Patidar,...,Indian Premier League,NaN,J Madanagopal,MA Gough,VK Sharma,BNJ Oxenford,M Nayyar,NaN,NaN,NaN
948,1312199,2022,2022-05-27,Ahmedabad,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,JC Buttler,...,Indian Premier League,NaN,CB Gaffaney,Nitin Menon,KN Ananthapadmanabhan,AK Chaudhary,J Srinath,NaN,NaN,NaN
949,1312200,2022,2022-05-29,Ahmedabad,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,Rajasthan Royals,bat,HH Pandya,...,Indian Premier League,NaN,CB Gaffaney,Nitin Menon,AK Chaudhary,KN Ananthapadmanabhan,J Srinath,NaN,NaN,NaN

In [ ]:
df1=df[df['team1']=='Royal Challengers Bangalore']
df1

,match_id,season,date,city,venue,team1,team2,toss_winner,toss_decision,player_of_match,...,event,match_number,umpire1,umpire2,reserve_umpire,tv_umpire,match_referee,eliminator,method,date_1
0,335982,2007/08,2008-04-18,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,BB McCullum,...,Indian Premier League,1.0,Asad Rauf,RE Koertzen,VN Kulkarni,AM Saheba,J Srinath,NaN,NaN,NaN
10,335992,2007/08,2008-04-26,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,SR Watson,...,Indian Premier League,12.0,MR Benson,IL Howell,SK Tarapore,GA Pratapkumar,J Srinath,NaN,NaN,NaN
14,335996,2007/08,2008-04-28,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,bat,MS Dhoni,...,Indian Premier League,15.0,BR Doctrove,RB Tiffin,NaN,K Hariharan,J Srinath,NaN,NaN,NaN
24,336006,2007/08,2008-05-05,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,field,S Sreesanth,...,Indian Premier League,25.0,SJ Davis,BR Doctrove,SK Tarapore,SL Shastri,CH Lloyd,NaN,NaN,NaN
30,336012,2007/08,2008-05-28,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,CRD Fernando,...,Indian Premier League,55.0,BF Bowden,AV Jayaprakash,NaN,BR Doctrove,CH Lloyd,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,1304089,2022,2022-04-30,Mumbai,"Brabourne Stadium, Mumbai",Royal Challengers Bangalore,Gujarat Titans,Royal Challengers Bangalore,bat,R Tewatia,...,Indian Premier League,43.0,HAS Khalid,VK Sharma,Chirra Ravikanthreddy,Nitin Menon,Shakti Singh,NaN,NaN,NaN
924,1304095,2022,2022-05-04,Pune,"Maharashtra Cricket Association Stadium, Pune",Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,field,HV Patel,...,Indian Premier League,49.0,KN Ananthapadmanabhan,MA Gough,Vinod Seshan,AK Chaudhary,V Narayan Kutty,NaN,NaN,NaN
929,1304100,2022,2022-05-08,Mumbai,"Wankhede Stadium, Mumbai",Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore,bat,PWH de Silva,...,Indian Premier League,54.0,BNJ Oxenford,N Pandit,A Totre,PG Pathak,Shakti Singh,NaN,NaN,NaN
947,1312198,2022,2022-05-25,Kolkata,"Eden Gardens, Kolkata",Royal Challengers Bangalore,Lucknow Super Giants,Lucknow Super Giants,field,RM Patidar,...,Indian Premier League,NaN,J Madanagopal,MA Gough,VK Sharma,BNJ Oxenford,M Nayyar,NaN,NaN,NaN
948,1312199,2022,2022-05-27,Ahmedabad,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,JC Buttler,...,Indian Premier League,NaN,CB Gaffaney,Nitin Menon,KN Ananthapadmanabhan,AK Chaudhary,J Srinath,NaN,NaN,NaN

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 126 entries, 0 to 948
Data columns (total 27 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   match_id         126 non-null    int64
 1   season           126 non-null    object
 2   date             126 non-null    object
 3   city             117 non-null    object
 4   venue            126 non-null    object
 5   team1            126 non-null    object
 6   team2            126 non-null    object
 7   toss_winner      126 non-null    object
 8   toss_decision    126 non-null    object
 9   player_of_match  123 non-null    object
 10  winner           121 non-null    object
 11  winner_wickets   126 non-null    int64
 12  winner_runs      126 non-null    int64
 13  outcome          5 non-null      object
 14  result_type      126 non-null    object
 15  results          126 non-null    int64
 16  gender           126 non-null    object
 17  event            126 non-null    object
 18  match_number     114 non-null    float64
 19  umpire1          126 non-null    object
 20  umpire2          126 non-null    object
 21  reserve_umpire   123 non-null    object
 22  tv_umpire        126 non-null    object
 23  match_referee    126 non-null    object
 24  eliminator       2 non-null      object
 25  method           2 non-null      object
 26  date_1           0 non-null      object
dtypes: float64(1), int64(4), object(22)
memory usage: 27.6+ KB

In [ ]:
df1.describe()

           match_id  winner_wickets  winner_runs     results  match_number
count  1.260000e+02      126.000000   126.000000  126.000000    114.000000
mean   8.137310e+05        3.349206    16.087302   19.436508     29.535088
std    3.507749e+05        3.411316    30.645853   29.020406     17.585281
min    3.359820e+05        0.000000     0.000000    0.000000      1.000000
25%    4.396742e+05        0.000000     0.000000    6.000000     14.000000
50%    8.297280e+05        4.000000     0.000000    7.000000     31.000000
75%    1.178403e+06        6.750000    17.000000   17.000000     43.000000
max    1.312199e+06       10.000000   144.000000  144.000000     70.000000

In [ ]:
DF=pd.read_csv("/content/ipl_match_ball_by_ball_data.csv")
DF

<ipython-input-6-84ea46eea1e6>:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  DF=pd.read_csv("/content/ipl_match_ball_by_ball_data.csv")

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,...,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,1312200,2022,2022-05-29,"Narendra Modi Stadium, Ahmedabad",2,17.3,Gujarat Titans,Rajasthan Royals,DA Miller,Shubman Gill,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225950,1312200,2022,2022-05-29,"Narendra Modi Stadium, Ahmedabad",2,17.4,Gujarat Titans,Rajasthan Royals,Shubman Gill,DA Miller,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225951,1312200,2022,2022-05-29,"Narendra Modi Stadium, Ahmedabad",2,17.5,Gujarat Titans,Rajasthan Royals,Shubman Gill,DA Miller,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225952,1312200,2022,2022-05-29,"Narendra Modi Stadium, Ahmedabad",2,17.6,Gujarat Titans,Rajasthan Royals,DA Miller,Shubman Gill,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225953,1312200,2022,2022-05-29,"Narendra Modi Stadium, Ahmedabad",2,18.1,Gujarat Titans,Rajasthan Royals,Shubman Gill,DA Miller,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 22 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   match_id                225954 non-null  int64
 1   season                  225954 non-null  object
 2   start_date              225954 non-null  object
 3   venue                   225954 non-null  object
 4   innings                 225954 non-null  int64
 5   ball                    225954 non-null  float64
 6   batting_team            225954 non-null  object
 7   bowling_team            225954 non-null  object
 8   striker                 225954 non-null  object
 9   non_striker             225954 non-null  object
 10  bowler                  225954 non-null  object
 11  runs_off_bat            225954 non-null  int64
 12  extras                  225954 non-null  int64
 13  wides                   7026 non-null    float64
 14  noballs                 918 non-null     float64
 15  byes                    583 non-null     float64
 16  legbyes                 3531 non-null    float64
 17  penalty                 2 non-null       float64
 18  wicket_type             11151 non-null   object
 19  player_dismissed        11151 non-null   object
 20  other_wicket_type       0 non-null       float64
 21  other_player_dismissed  0 non-null       float64
dtypes: float64(8), int64(4), object(10)
memory usage: 37.9+ MB

In [ ]:
DF2=DF[DF['batting_team']=='Royal Challengers Bangalore']
DF2

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
124,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,0.1,Royal Challengers Bangalore,Kolkata Knight Riders,R Dravid,W Jaffer,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,0.2,Royal Challengers Bangalore,Kolkata Knight Riders,W Jaffer,R Dravid,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,0.3,Royal Challengers Bangalore,Kolkata Knight Riders,W Jaffer,R Dravid,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,0.4,Royal Challengers Bangalore,Kolkata Knight Riders,W Jaffer,R Dravid,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,0.5,Royal Challengers Bangalore,Kolkata Knight Riders,R Dravid,W Jaffer,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225607,1312199,2022,2022-05-27,"Narendra Modi Stadium, Ahmedabad",1,19.2,Royal Challengers Bangalore,Rajasthan Royals,JR Hazlewood,Shahbaz Ahmed,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225608,1312199,2022,2022-05-27,"Narendra Modi Stadium, Ahmedabad",1,19.3,Royal Challengers Bangalore,Rajasthan Royals,JR Hazlewood,Shahbaz Ahmed,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225609,1312199,2022,2022-05-27,"Narendra Modi Stadium, Ahmedabad",1,19.4,Royal Challengers Bangalore,Rajasthan Royals,Shahbaz Ahmed,JR Hazlewood,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225610,1312199,2022,2022-05-27,"Narendra Modi Stadium, Ahmedabad",1,19.5,Royal Challengers Bangalore,Rajasthan Royals,Shahbaz Ahmed,JR Hazlewood,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225611,1312199,2022,2022-05-27,"Narendra Modi Stadium, Ahmedabad",1,19.6,Royal Challengers Bangalore,Rajasthan Royals,Shahbaz Ahmed,JR Hazlewood,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
DF[DF['batting_team'] == 'Royal Challengers Bangalore']['striker'].unique()
DF

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,...,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,1312200,2022,2022-05-29,"Narendra Modi Stadium, Ahmedabad",2,17.3,Gujarat Titans,Rajasthan Royals,DA Miller,Shubman Gill,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225950,1312200,2022,2022-05-29,"Narendra Modi Stadium, Ahmedabad",2,17.4,Gujarat Titans,Rajasthan Royals,Shubman Gill,DA Miller,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225951,1312200,2022,2022-05-29,"Narendra Modi Stadium, Ahmedabad",2,17.5,Gujarat Titans,Rajasthan Royals,Shubman Gill,DA Miller,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225952,1312200,2022,2022-05-29,"Narendra Modi Stadium, Ahmedabad",2,17.6,Gujarat Titans,Rajasthan Royals,DA Miller,Shubman Gill,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225953,1312200,2022,2022-05-29,"Narendra Modi Stadium, Ahmedabad",2,18.1,Gujarat Titans,Rajasthan Royals,Shubman Gill,DA Miller,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
kohli = 'V Kohli'

In [ ]:
df3=DF2[DF2['striker']=='V Kohli']
df3

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
132,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,1.2,Royal Challengers Bangalore,Kolkata Knight Riders,V Kohli,W Jaffer,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,1.3,Royal Challengers Bangalore,Kolkata Knight Riders,V Kohli,W Jaffer,...,4,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN
134,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,1.4,Royal Challengers Bangalore,Kolkata Knight Riders,V Kohli,W Jaffer,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,2.1,Royal Challengers Bangalore,Kolkata Knight Riders,V Kohli,W Jaffer,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,2.2,Royal Challengers Bangalore,Kolkata Knight Riders,V Kohli,W Jaffer,...,0,NaN,NaN,NaN,NaN,NaN,bowled,V Kohli,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225489,1312199,2022,2022-05-27,"Narendra Modi Stadium, Ahmedabad",1,0.5,Royal Challengers Bangalore,Rajasthan Royals,V Kohli,F du Plessis,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225490,1312199,2022,2022-05-27,"Narendra Modi Stadium, Ahmedabad",1,0.6,Royal Challengers Bangalore,Rajasthan Royals,V Kohli,F du Plessis,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225493,1312199,2022,2022-05-27,"Narendra Modi Stadium, Ahmedabad",1,1.3,Royal Challengers Bangalore,Rajasthan Royals,V Kohli,F du Plessis,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225494,1312199,2022,2022-05-27,"Narendra Modi Stadium, Ahmedabad",1,1.4,Royal Challengers Bangalore,Rajasthan Royals,V Kohli,F du Plessis,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225495,1312199,2022,2022-05-27,"Narendra Modi Stadium, Ahmedabad",1,1.5,Royal Challengers Bangalore,Rajasthan Royals,V Kohli,F du Plessis,...,0,NaN,NaN,NaN,NaN,NaN,caught,V Kohli,NaN,NaN

In [ ]:
df4=df3['total_runs_scored'] = df3['runs_off_bat'].sum()
df4

<ipython-input-10-4d3b92ab7318>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4=df3['total_runs_scored'] = df3['runs_off_bat'].sum()

6634

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5266 entries, 132 to 225495
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   match_id                5266 non-null   int64
 1   season                  5266 non-null   object
 2   start_date              5266 non-null   object
 3   venue                   5266 non-null   object
 4   innings                 5266 non-null   int64
 5   ball                    5266 non-null   float64
 6   batting_team            5266 non-null   object
 7   bowling_team            5266 non-null   object
 8   striker                 5266 non-null   object
 9   non_striker             5266 non-null   object
 10  bowler                  5266 non-null   object
 11  runs_off_bat            5266 non-null   int64
 12  extras                  5266 non-null   int64
 13  wides                   133 non-null    float64
 14  noballs                 18 non-null     float64
 15  byes                    4 non-null      float64
 16  legbyes                 42 non-null     float64
 17  penalty                 0 non-null      float64
 18  wicket_type             193 non-null    object
 19  player_dismissed        193 non-null    object
 20  other_wicket_type       0 non-null      float64
 21  other_player_dismissed  0 non-null      float64
dtypes: float64(8), int64(4), object(10)
memory usage: 946.2+ KB

In [ ]:
df3.to_csv(r'rcb.csv',index=False,header=True)

In [ ]:
with pd.ExcelWriter('RCB.xlsx',mode='a',engine='openpyxl',if_sheet_exists='replace') as writer:
  df3.to_excel(writer,sheet_name='Sheet2')

FileNotFoundError: ignored

In [ ]:
df3.describe()

,match_id,innings,ball,runs_off_bat,extras,wides,noballs,byes,legbyes,penalty,other_wicket_type,other_player_dismissed
count,5.266000e+03,5266.000000,5266.000000,5266.000000,5266.000000,133.000000,18.0,4.00000,42.000000,0.0,0.0,0.0
mean,8.655011e+05,1.460691,8.439290,1.259780,0.045955,1.195489,1.0,1.50000,1.404762,NaN,NaN,NaN
std,3.139222e+05,0.503051,5.134895,1.552416,0.283406,0.838999,0.0,0.57735,0.989198,NaN,NaN,NaN
min,3.359820e+05,1.000000,0.100000,0.000000,0.000000,1.000000,1.0,1.00000,1.000000,NaN,NaN,NaN
25%,5.483620e+05,1.000000,4.200000,0.000000,0.000000,1.000000,1.0,1.00000,1.000000,NaN,NaN,NaN
50%,9.809140e+05,1.000000,8.200000,1.000000,0.000000,1.000000,1.0,1.50000,1.000000,NaN,NaN,NaN
75%,1.175369e+06,2.000000,12.375000,1.000000,0.000000,1.000000,1.0,2.00000,1.000000,NaN,NaN,NaN
max,1.312199e+06,4.000000,19.700000,6.000000,5.000000,5.000000,1.0,2.00000,4.000000,NaN,NaN,NaN